In [2]:
!pip install pandas_datareader

The directory '/Users/Jackie/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/Users/Jackie/Library/Caches/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: pandas_datareader in /Users/Jackie/anaconda/lib/python2.7/site-packages
Requirement already satisfied: pandas in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas_datareader)
Requirement already satisfied: requests>=2.3.0 in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas_datareader)
Requirement already satisfied: requests-ftp in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas_datareader)
Requirement already satisfied: requests-file in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas_datareader)
Requirement already satisfied: python-dateutil in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas->pandas_datareader)
Requirement already satisfied: pytz>=2011k in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in /Users/Jackie/anaconda/lib/python2.7/site-packages (from pandas->pandas_datareader)
Requirement already satisfied: six in /Users/Jackie/anaconda/lib/python2.7/site-packages (from requests-file->pandas_datareader)

In [11]:
from pandas_datareader import data
import datetime

In [16]:
start_time = datetime.datetime(2015,3,1)
end_time = datetime.datetime(2015,3,10)
sgmodf=data.DataReader(name="GOOG",data_source="yahoo",start=start_time,end=end_time)

In [17]:
sgmodf

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2015-03-02,560.532559,572.152562,558.752531,571.342601,2129600,571.342601
2015-03-03,570.452587,575.392588,566.522559,573.642610,1704700,573.642610
2015-03-04,571.872619,577.112637,568.012546,573.372583,1876800,573.372583
2015-03-05,575.022616,577.912621,573.412609,575.332609,1389600,575.332609
2015-03-06,574.882583,576.682625,566.762536,567.687558,1659100,567.687558
2015-03-09,566.862541,570.272589,563.537566,568.852557,1062100,568.852557
2015-03-10,564.252539,564.852573,554.732534,555.012538,1792300,555.012538