In [1]:
import pandas as pd

In [5]:
pd.read_csv("http://pythonhow.com/supermarkets.csv")

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
dfi=pd.read_json("http://pythonhow.com/supermarkets.json")

In [ ]:
dfi.shape

In [14]:
dfi['local'] = dfi.shape[0]*["Taiwan"]

In [19]:
dfi['local'] = dfi['local']+", "+"NO.1"

In [22]:
dfi_t = dfi.T

In [20]:
# dfi.drop("local",1)

In [27]:
dfi_t['your shop'] = dfi_t.shape[0]*['not_fill']

In [29]:
dfi_t[6]=dfi_t['your shop']

In [31]:
dfi_t=dfi_t.drop(6,1)

In [33]:
dfi_t.columns= [0,1,2,3,4,5,6]

In [34]:
dfi_t

,0,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,not_fill
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,not_fill
Country,USA,USA,USA,USA,USA,USA,not_fill
Employees,8,15,25,10,12,20,not_fill
ID,1,2,3,4,5,6,not_fill
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,not_fill
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,not_fill
local,"Taiwan, NO.1","Taiwan, NO.1","Taiwan, NO.1","Taiwan, NO.1","Taiwan, NO.1","Taiwan, NO.1",not_fill

In [46]:
from geopy.geocoders import Nominatim

In [47]:
nom = Nominatim()

In [42]:
geo_df  =pd.read_csv("http://pythonhow.com/supermarkets.csv")

In [48]:
geo_df['geo_info'] = geo_df.ix[:,1]+", "+geo_df.ix[:,2]+", "+geo_df.ix[:,3]+", "+geo_df.ix[:,4]

In [50]:
geo_df['coodinate'] = geo_df['geo_info'].apply(nom.geocode)

In [53]:
geo_df

,ID,Address,City,State,Country,Name,Employees,geo_info,coodinate
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666, 21st Street, Noe Valley, SF, California..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA",None
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114...","(332, Hill Street, Liberty Street Historic Dis..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [52]:
geo_df.ix[:,]

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Liberty Street Historic Dis...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: coodinate, dtype: object